@using Microsoft.Extensions.Options;
@using OctopusSamples.CosmosDB.QuickStart.Web.Models
@inject IOptions<AppSettings> Settings

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - A Simple .NET Core To-Do List</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="@(Settings.Value.S3VersionBucketPath)/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="@(Settings.Value.S3VersionBucketPath)/css/site.min.css" />
    </environment>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Item" asp-action="Index" class="navbar-brand">A Simple .NET Core To-Do List</a>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - A Simple .NET Core To-Do List | Version @Settings.Value.AppVersion running in @Settings.Value.EnvironmentName</p>
        </footer>
    </div>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="@(Settings.Value.S3VersionBucketPath)/lib/jquery/dist/jquery.min.js"></script>
        <script src="@(Settings.Value.S3VersionBucketPath)/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="@(Settings.Value.S3VersionBucketPath)/js/site.min.js"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
